@import url(http://fonts.googleapis.com/css?family=Megrim|Roboto|Montserrat);
html,body{
    width: 100%;
    height: 100%;    
}
.navbar-default{           
    border-color: rgba(0,0,0,0);    
}
.navbar-brand{
    font-family: 'Megrim', cursive;
}
h3{
    margin-top:100px;
}
